@page "/learnBlazor/bindProp"
@using Models.Models

<h3>Product</h3>
Name : @Product.Name <br/>
Active : @Product.IsActive <br/>






@code {
    Product Product = new Product()
    {
        Id = 1,
        Name = "Hat",
        IsActive = true
    };
}